@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Lexend:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    background-image: linear-gradient(to bottom, #000000, #210e35, #d3b2fe,  #eee4fb);
    background-color: grad;
    
}

.container-top {
  background-image: linear-gradient(to top, #000000, #3f0147);
  background-color: grad;
}

.container-top .nav-link{
    color: #6815d4 !important;
}

.container-top .nav-link.active {
    color: white !important;
    background-image: linear-gradient(to right, #35203e, #6815d4);
    background-color: grad; 
    border-bottom: 2px solid black; 
    border-radius: 25px;
  }

  .web-color {
    text-shadow: 1.5px 1.5px 0 #9e54fe;
    font-weight: 900;
}

.blog-header-logo{
  box-shadow: 0px 4px 0px #9e54fe;

}

.blog-header-logo:hover {
    transform: scale(1.1);
}


.navbar {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.6);
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(10px);
    
}
.navbar-brand
{
    font-family: "DM Sans", sans-serif;
    font-weight: 1000;
    font-size: 25px;
    color: white !important;
    transition: transform 0.3s ease-in-out;
}

.nav-link {
    color: white !important;
    transition: transform 0.3s ease-in-out;
}
.nav-link:hover {
    transform: scale(1.1);
    font-weight: 500;
}

.navbar .navbar-brand:hover{
    transform: scale(1.2);
}

.carousel-caption {
    position: absolute;
    top: 33%;
    left: 30%;
    transform: translate(-50%, -60%);
    text-align: left;
    padding: 50px; 
    color: white; 
}
.carousel-caption h5 {
    font-size: 50px; 
    font-weight: 700;
  }
.programacion {
    color:#ceb5ee;
}
.intro{
    color:#f4f4f4;
}
.carousel-caption p {
    margin-top: 5%;
    font-size: 20px; 
    font-weight: 100;
  }

.contenedor-btn{
    margin-top: 7%;
}

.boton {
    font-family: "DM Sans";
    font-weight: 600;
    margin:auto;
    color: white !important;
    background-image: linear-gradient(to right, #35203e, #6815d4);
    background-color: grad; 
    border-radius: 25px;
    padding: 10px;
    height: 50px;
    width: 120px;
    border: none;
}     

.carousel-control-prev, .carousel-control-next {
    width: 5%;
  }
  
  .carousel-control-prev {
    left: -20px;
  }
  
  .carousel-control-next {
    right: -20px;
  }

  .blog-header {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
  }
  

  
  h1, h2, h3, h4, h6 {
    font-family: "DM Sans";
  }
  
  .display-4 {
    font-size: 2.5rem;
  }
  @media (min-width: 768px) {
    .display-4 {
      font-size: 3rem;
    }
  }

  .container-p {
    background-color: white;
  }

  .container {
    padding: 5%;
    border-radius: 25px;
    background-color: hsl(0, 0%, 100%);
    background-image: radial-gradient(500px circle at 100% 0%,
        hsl(270, 22%, 65%) 15%,
        hsl(251, 73%, 84%) 35%,
        hsl(291, 37%, 89%) 75%,
        hsl(266, 22%, 62%) 80%,
        transparent 100%),
        radial-gradient(500px circle at 0% 100%,
          hsl(290, 45%, 92%) 15%,
          hsl(251, 82%, 89%) 35%,
          hsl(339, 100%, 96%) 75%,
          hsl(276, 79%, 85%) 80%,
          transparent 100%);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);

  }
  
  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }
  
  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
  
  .nav-scroller .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
  }
  
  .card-img-right {
    height: 100%;
    border-radius: 0 3px 3px 0;
  }
  
  .flex-auto {
    flex: 0 0 auto;
  }
  
  .h-250 { height: 250px; }
  @media (min-width: 768px) {
    .h-md-250 { height: 250px; }
  }
  
  /* Pagination */
  .blog-pagination {
    margin-bottom: 4rem;
  }
  .blog-pagination > .btn {
    border-radius: 2rem;
  }
  
  /*
   * Blog posts
   */
  .blog-post {
    margin-bottom: 4rem;
  }
  .blog-post-title {
    margin-bottom: .25rem;
    font-size: 2.5rem;
  }
  .blog-post-meta {
    margin-bottom: 1.25rem;
    color: #727272;
  }
  
  /*
   * Footer
   */
  .blog-footer {
    background: linear-gradient(to bottom, #fdf1ff, #d5c6df);
    padding: 2.5rem 0;
    color: #727272;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
  }
  .blog-footer p:last-child {
    margin-bottom: 0;
  }
  


